<!doctype html>
<!-- This page will have all the trending posts -->

<html>
<head>
    <title>Reddit</title>

</head>


<body>
    <div>

        <h1 align="center">Reddit</h1>
        <div align="right">
            <a href="/logout" >Logout</a>
        </div>

        <p>Hello <%= user.local.username %></p>
        <a href="/newpost" align="center">Submit a new post</a>

    </div>
</body>
</html>